# terraform.tfvars.example
#
# AWS provider settings
#
provider           = {
  access_key       = ""
  region           = "us-east-1"
  secret_key       = ""
}
#
# AWS VPC settings
#
#vpc                = {
#  cidr             =  "10.20.30.0/24"
#  dns_hostnames    =  true
#  dns_support      =  true
#  tags_desc        =  "Chef HA VPC"
#  tenancy          =  "default"
#}
#
# AWS gateway settings
#
#gateway           = ""
#
# AWS subnet settings
#
#subnets            =  {
#  us-east-1a       =  "10.20.30.0/26"
#  us-east-1c       =  "10.20.30.64/26"
#  us-east-1d       =  "10.20.30.128/26"
#  us-east-1e       =  "10.20.30.192/26"
#}
#subnets_public     =  {
#  us-east-1a       =  true
#  us-east-1c       =  true
#  us-east-1d       =  true
#  us-east-1e       =  true
#}
#
# AWS security group settings
# CIDRs to allow SSH connections
#ssh_cidrs          = ["0.0.0.0/0"]
#
# AWS AMI settings map
#
#ami                = {
#  ubuntu12-gp2-us-east-1 = "ami-b74688da"
#}
#os                 = "ubuntu14"
#ami_user           = {
#  ubuntu14         = "ubuntu"
#}
#
# AWS EC2 instance settings
#
#instance           = {
#  backend_flavor   = "r3.xlarge"
#  backend_iops     = 0
#  backend_public   = true
#  backend_size     = 40
#  backend_term     = true
#  backend_type     = "gp2"
#  ebs_optimized    = true
#  frontend_flavor  = "m4.large"
#  frontend_iops    = 0
#  frontend_public  = true
#  frontend_size    = 40
#  frontend_term    = true
#  frontend_type    = "gp2"
#  tags_desc        = "Created using Terraform"
#}
#instance_hostname  = {
#  backend          = "chefbe"
#  frontend         = "cheffe"
#}
instance_keys      = {
  key_name         = ""
  key_file         = ""
}
#instance_store     = {
#  device           = "xvdb"
#  enabled          = true
#  filesystem       = "ext4"
#  mount            = "/mnt/xvdb"
#  mount_options    = "defaults,noatime,errors=remount-ro"
#}
domain             = ""
#
# SSL settings
#
ssl_certificate    = {
  cert_file        = ""
  key_file         = ""
}
#
# Chef settings
#
#chef_backend       = {
#  count            = 4
#  version          = "1.1.2"
#}
#chef_client        = "12.12.15"
chef_mlsa          = "false" # Must update this to true!
#chef_org           = {
#  short            = "chef"
#  long             = "Chef Organization"
#}
#chef_server        = {
#  count            = 4
#  version          = "12.8.0"
#}
#chef_user          = {
#  username         = "chef"
#  first_name       = "Chef"
#  last_nname       = "User"
#  email            = "chef@domain.tld"
#}
#
# AWS Route53 settings
#
r53_zones = {
  external         = ""
  internal         = ""
}
#r53_ttls  = {
#  external         = 180
#  internal         = 180
#}
#
# AWS ELB settings
#
elb                = {
  certificate      = ""
  hostname         = "chefelb"
  tags_desc        = "Created using Terraform"
}
